extends layout

block content
  .container

    h1 SHA256 #{__('Hash')}
    .well#well1
      form.form-horizontal

        .form-group
          label.col-sm-2.control-label(for='data') #{__('Data')}:
          .col-sm-10
            textarea#data.form-control(rows='10', onkeyup='$("#hash").val(sha256())')
              | Mitgliedervertrag IT Crowd Club Liechtenstein
              | ============================
              | #{''}
              | Mitgliedschaft
              | ------------
              | Die Mitgliedschaft ist über die Statuten geregelt. Die Statuten können auf der Webseite des IT Crowd Club Liechtenstein eingesehen werden.
              | #{''}
              | Mitgliederbeitrag
              | --------------
              | Die Höhe des Mitgliederbeitrags wird über die Statuten geregelt und hängt von der Art der Mitgliedschaft ab.
              | #{''}
              | ...

        .form-group
          label.col-sm-2.control-label(for='hash') #{__('Hash')}:
          .col-sm-10
            input#hash.form-control(type='text', disabled)

  script.
    function getText(block, chain) {
      return $('#data').val();
    }

    $("#hash").val(sha256());
